:root {
  --white: #fff;
  --black: #282828;
  --logo-blue: #4285f4;
  --logo-green: #0f9d58;
  --logo-yellow: #faceca;
  --gray-secondary: #777777;
  --main-shadow: 0.3rem 0.3rem 0.6rem 0rem rgba(0,0,0,0.205);
  --nav-shadow: 0rem 0.1rem 1.6rem 0.6rem rgba(64,64,64,0.1);
  --side-nav-shadow: -0.3rem 0.2rem 1.6rem 0.6rem rgba(64,64,64,0.1);
  --border-radius: 1.5rem ;
  --border-radius-circle: 100%;
}
html {
  font-size: 64.5%;
}
@media (max-width: 990px) {
  html {
    font-size: 55%;
  }
  @media (max-width: 768px) {
    html {
      font-size: 45%;
    }
  }
  * {
    font-family: 'barlow', sans-serif;
    text-align: center;
    box-sizing: border-box;
  }
  
  /*Page Heading*/
  .Page-head {
    margin-top: 140px;
  }
  .squad-description {
    margin: auto;
    margin-top: 2.5rem;
    width: 50%;
    font-size: 20px;
    color: var(--gray-secondary);
  }
  
  .squad-description {
    margin: auto;
    margin-top: 2.5rem ;
    width: 50%;
    font-size: 20px;
    color: var(--gray-secondary);
  }
   hr {
    width: 80%;
    margin: auto ;
  }
  .teams {
    display: flex;
    flex-direction: column;
    align-teams: center;
  }
  .team-container {
    width: 100%;
    /* border: 1px solid black; */
    margin-bottom: 13rem;
  }
  .mentor-box {
    width: 55%;
    display: flex;
    margin: auto ;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .team-member-container {
    margin: auto ;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 335px;
    overflow: hidden;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  #core-team {
    width: 90%;
    height: 390px;
  }
  .team-container h1 {
    border-radius: 20px;
    margin: auto ;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  .member-box > img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: -2;
    object-fit: cover;
    object-position: top;
  }
  .mentor-box img,
  #core-team img {
    width: 200px;
    height: 200px;
  }
  .member-name {
    font-size: 22px;
    color: var(--black);
    margin-bottom: 4px;
  }
  .member-info {
    width : 100%;
    height: 100%;
  }
  .member-desig {
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 0px;
    
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    color: var(--gray-secondary);
  }
  .member-socials : flex;
  padding-top: 5px;
  font-size: 20px;
  width: 52%;
  margin: auto;
  align-item: center;
  justify-content: space-between ;
  
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease ;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  color: var(--gray-secondary);
}
.member-socials {
  
  

    margin-bottom
